.back{
    width: 100%;
    height: 10%;
}


.navside{
    background-color: #242424;

}

.row{
    padding-right: 0; 
    padding-left: 0 !important;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.admin{
    height: 250px;
    width: 250px;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 5%;
}

h5{
    color: white;
    margin-left: 29%;
    margin-top: 5%;
}

p{
    color: white;
    margin-left: 15%;
}

hr{
    color:  black;
    line-height: 5%;
}
.nav{
    background-color: #242424 !important;
}
.navbar{
    background-color: #242424 !important;
}

.navbar-brand{
    color: #ffff;
}

.footer{
    background-color: #242424;
    width: 100%;
    height: fit-content;
}

.profile{
    border: 5px solid black;
    height: 550px;
    width: 390px;
    border-radius: 10%;
    float: left;
    margin-right: 15px;
}

.wrapper{
    margin: 100px auto;
    width: 70%;
    
}


.text-box p{
    margin-top:45px ;
    font-size: 16px;
    color: black;

}

.text-box h5{
    color: black;
}

.test2 p{
    color: black;
}


.person{
    float:left;
    margin-left: 10%;
}

.test{
    margin-left: 10%;
}

.wrapper2{
    margin: 100px auto;
    width: 25%;
}

.test2 p{
   margin-top: 50px !important; 
}
.person{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.three-column-footer-contact-form-container {
    background-color: #414040;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    color: #e6e6e6;
    padding: 3.75rem 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form::before, .three-column-footer-contact-form-container .three-column-footer-contact-form::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form::after {
    clear: both;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form a {
    color: #e6e6e6;
    border: 2px solid black;
    height: 10px;
    width: 20px !important;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    display: table;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .contact-details p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group {
    padding: 2rem 0 0 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left .input-group input {
    border-bottom: 2px solid #cacaca;
  }
  
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      width: 25%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-left:last-child:not(:first-child) {
      float: right;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
    text-align: left;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    display: table;
  }
  
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      width: 33.33333%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
      position: relative;
      left: 8.33333%;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center:last-child:not(:first-child) {
      float: right;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group {
    padding: 0.5rem 0 0 0;
    
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group input {
    border-bottom: 2px solid #cacaca;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-center .input-group textarea {
    border-bottom: 2px solid #cacaca;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
    text-align: right;
    width: 100%;
    float: left;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
    display: table;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .baseline {
    display: table-cell;
    vertical-align: bottom;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right h2 {
    color: #fefefe;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right .fa {
    padding: 1rem 0 1rem 0.2rem;
  }
  .input-group-field{
    margin-top: 5px;
  }

  
  .thumbnail{
    width: 200px;
  }
  .baseline p{
    margin-right: 50px;
  }

  .button{
    background-color: #1e81b0;
    width: 100px;
    border-radius: 5%;
    border: none;
    color: #fff;
    margin-top: 5px;
  }
  @media print, screen and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not(:first-child) {
    float: right;
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      width: 25%;
      float: left;
      padding-right: 0.625rem;
      padding-left: 0.625rem;
    }
  }
  
  @media print, screen and (min-width: 64em) and (min-width: 40em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  
  @media print, screen and (min-width: 64em) {
    .three-column-footer-contact-form-container .three-column-footer-contact-form .footer-right:last-child:not(:first-child) {
      float: right;
    }
  }
  .input-group{
    border: none;
    gap: 15px;

  }

  .input-group-field{
    border: none;
    gap:1rem;
    background-color: #414040;
  }
  
  .vl {
    border-left: 2px solid green;
    height: 500px;
  }

  .fa{
    text-align: initial;
  }